.procrm-voip-dropdown {
    padding: 1rem;
}

/** Загрузка **/
.procrm-voip-dropdown .loading {
    text-align: center;
}

.procrm-voip-dropdown .loading i.fa {
    font-size: 60px;
}

.procrm-voip-dropdown .loading span {
    display: block;
    margin-top: 1rem;
}


/** Звонилка **/
.procrm-voip-phone .header-call-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.procrm-voip-phone .header-call-phone .info {
    font-size: 20px;
}

.badge-success {
    background: #28a745;
}


/** Звонок **/
.procrm-voip-dropdown .procrm-voip-dial {
    text-align: center;
}

.procrm-voip-dropdown .procrm-voip-dial audio {
    /*display: block;*/
    margin: 0 auto;
}


/** Входящий звонок **/
.procrm-voip-dial-invite {
    text-align: center;
}

.procrm-voip-dial-invite .title {
    margin-bottom: 2rem;
}

.procrm-voip-dial-invite .image {
    margin-bottom: 2rem;
}

.procrm-voip-dial-invite .image .client-profile-image-small {
    height: 60px;
    width: 60px;
}

.procrm-voip-dial-invite .name {
    margin-bottom: 2rem;
}

.procrm-voip-dial-invite .actions {
    margin-bottom: 0.5rem;
}


/***********************/
.card-details-auth {
    font-size: 16px;
}

.card-details-auth > div {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.card-details-auth > .item:not(:last-child) {
    margin-bottom: 1rem;
}

.card-details-auth > .actions {
    display: flex;
    margin-top: 2rem;
}


.procrm-voip-setting-sip {

}

.procrm-voip-setting-sip .item {
    display: flex;
    align-items: center;
}

.procrm-voip-setting-sip .item .title {
    font-size: 20px;
    margin-right: auto;
    font-weight: bold;
}

.procrm-voip-setting-sip .item i.fa-phone-square {
    margin-right: 2.5rem;
    font-size: 30px;
}

.procrm-voip-setting-sip .item .action {
}

/**/
.procrm-voip-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 992px) {
    .procrm-voip-contacts {
        grid-template-columns: 1fr 1fr;
    }
}

.procrm-voip-contacts-card {
    display: flex;
    border: 1px solid #eee;
    padding: 1rem;
    align-items: center;
}

.procrm-voip-contacts-card .info {
    margin-right: auto;
}

.procrm-voip-contacts-card .info .title {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.procrm-voip-contacts-card .info .tel {
    font-size: 20px;
}