.procrm-voip-dropdown {
    padding: 1rem;
}

/** Загрузка **/
.procrm-voip-dropdown .loading {
    text-align: center;
}

.procrm-voip-dropdown .loading i.fa {
    font-size: 60px;
}

.procrm-voip-dropdown .loading span {
    display: block;
    margin-top: 1rem;
}


/** Сообщение об авторизации **/
.procrm-voip-dropdown-auth {
    padding: 1rem 2rem;
}

.procrm-voip-dropdown-auth ul {
    margin-top: 2rem;
}

.procrm-voip-dropdown-auth ul li {
    margin-left: 1rem;
}

.procrm-voip-dropdown-auth ul li:not(:last-child) {
    margin-bottom: 0.5rem;
}