/** Информация о авторизации **/
.card-details-auth {
    font-size: 16px;
}

.card-details-auth > div {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.card-details-auth > .item:not(:last-child) {
    margin-bottom: 1rem;
}

.card-details-auth > .actions {
    display: flex;
    margin-top: 2rem;
}

.procrm-voip-sip-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

/** Настройка левого меню WebRTC и SIP аккаунтов **/
.procrm-voip-setting-sip {
}

.procrm-voip-setting-sip .item {
    display: flex;
    align-items: center;
}

.procrm-voip-setting-sip .item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.procrm-voip-setting-sip .item .title {
    font-size: 16px;
    line-height: 14px;
    margin-right: auto;
    font-weight: bold;
}

.procrm-voip-setting-sip .item .status {
    margin-right: auto;
}

.procrm-voip-setting-sip .item i.fa-phone-square {
    margin-right: 2.5rem;
    font-size: 30px;
}

.procrm-voip-setting-sip .item .action {
}